<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <div class="breadcrumb">
        <ul>
            <li><a routerLink="">
                    <mat-icon id="home-icon">home</mat-icon>
                    <mat-icon id="navigate-icon">navigate_next</mat-icon>
                </a></li>
            <li> <a routerLink="">
                    <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                    </h2>
                </a></li>
            <li>
                <h2 id="nike-title">{{title}}</h2>
            </li>
        </ul>
    </div>

    
    <div class="title">
        <h2>TENIS NIKE</h2>
    </div>

    
    <div class="bg-nike">
        <img src="https://wallpaperaccess.com/full/3963154.jpg" alt="">
    </div>
    

    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/pow_540x.jpg?v=1614195386"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/amow_300x.jpg?v=1614194879"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/1_fe3414c4-53d5-4518-aced-38cb237e247a_300x.jpg?v=1611089751"
                        alt=""></td>
            </tr>
            <tr class="linha2">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/02_1_300x.jpg?v=1602865185"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/2372c213-51a2-4e42-8027-f49a7497a7bf_300x.jpg?v=1607789695"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/s11_300x.jpg?v=1606153280"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img style="position:absolute; top:1660px; width: 200px;"
                        src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/as130_300x.jpg?v=1600354700"
                        alt=""></td>
                <td><img style="width: 230px;"
                        src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/1_f0fd30de-8af5-4733-8d89-1163104c71ce_540x.jpg?v=1612895099"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/icon_e30f752b-e40a-48ea-8db6-9fc79b2dfa32_300x.png?v=1624479255"
                        alt=""></td>
            </tr>

            <tr class="linha4">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/50_300x.png?v=1625322943"
                        alt=""></td>
            </tr>
        </table>

        
        <table>
            <tr class="produto-1">
                <td>Nike Air Presto x Off-White<br> - 42BR</td>
                <td class="price">R$ 5.599,99</td>
            </tr>

            <tr class="produto-2">
                <td>Nike Air Max 90 x Off-White<br> - 41BR</td>
                <td class="price">R$ 3.499,99</td>
            </tr>

            <tr class="produto-3">
                <td>Nike Zoom Fly x Off-White<br> - 39BR</td>
                <td class="price">R$ 2.199,99</td>
            </tr>

            <tr class="produto-4">
                <td>Nike Kyrie 5 Spongebob<br> Squidward - 43BR</td>
                <td class="price">R$ 1.349,99</td>
            </tr>

            <tr class="produto-5">
                <td>Nike Lebron 17 Red Carpet<br> - 40BR</td>
                <td class="price">R$ 1.199,99</td>
            </tr>

            <tr class="produto-6">
                <td>Nike Free TR SP MMW<br> Sail Black</td>
                <td class="price">R$ 2.299,99</td>
            </tr>

            <tr class="produto-7">
                <td>Nike Huarache Type - 38BR</td>
                <td class="price">R$ 1.249,99</td>
            </tr>

            <tr class="produto-8">
                <td>Nike PG 4 Allstar "Gatorade" - 36BR</td>
                <td class="price">R$ 1.999,99</td>
            </tr>

            <tr class="produto-9">
                <td>Nike Air Max 1 Evolution<br> Of Icons - 40BR</td>
                <td class="price">R$ 999,99</td>
            </tr>

            <tr class="produto-10">
                <td>Nike Taiwind x Supreme</td>
                <td class="price">R$ 1.549,99</td>
            </tr>
        </table>
        
    </div>
    

</body>

</html>