<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>

<div class="breadcrumb">
    <ul>
        <li><a routerLink="">
                <mat-icon id="home-icon">home</mat-icon>
                <mat-icon id="navigate-icon">navigate_next</mat-icon>
            </a></li>
        <li> <a routerLink="">
                <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                </h2>
            </a></li>
        <li>
            <h2 id="yeezy-title">{{title}}</h2>
        </li>
    </ul>
</div>

<body>
    <div class="title">
        <h2>ADIDAS YEEZY</h2>
    </div>

    
    <div class="bg-dunk-low">
        <img src="https://wallpapercave.com/wp/wp3699105.jpg"
            alt="">
    </div>
    

    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/belu_540x.jpg?v=1603309209"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/Untitled-1_d893c008-947c-4253-b1ab-f5f1fe37e5ff_540x.jpg?v=1600269434"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/as195_180d03f2-d903-4406-ab11-401995e2fc30_540x.jpg?v=1601755023"
                        alt=""></td>
            </tr>

            <tr class="linha2">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/as121_540x.jpg?v=1600275886"
                        alt=""></td>
                <td><img class="img-5" src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/fdre_540x.jpg?v=1610490539"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/hhiuhiuh_414b3024-b2a5-44de-a0a7-958398d4c977_540x.jpg?v=1609364520"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/30_720x_9e7a77c9-0ab6-4f46-bb4a-d52824339d54_540x.jpg?v=1608737713"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/WOEUIFHIWUEHIWEFH_540x.jpg?v=1595078749"
                        alt=""></td>
                <td><img class="img-9" src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/glow_540x.png?v=1613681727" alt="">
                </td>
            </tr>

            <tr class="linha4">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/YZYY5_540x.jpg?v=1624915710"
                        alt=""></td>
            </tr>
        </table>

        <table>
            <tr class="produto-1">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>BELUGA 1.0 - 41BR</td>
                <td class="price">R$ 3.999,99</td>
            </tr>

            <tr class="produto-2">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>BLACK RED "BRED" - 39</td>
                <td class="price">R$ 2.999,99</td>
            </tr>

            <tr class="produto-3">
                <td>ADIDAS YEEZY BOOST 350 <br>V2 ZEBRA - 38</td>
                <td class="price">R$ 2.299,99</td>
            </tr>

            <tr class="produto-4">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>CREAM/TRIPLE WHITE
                    - 44BR</td>
                <td class="price">R$ 2.499,99</td>
            </tr>

            <tr class="produto-5">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>CORE BLACK GREEN- 35BR</td>
                <td class="price">R$ 2.999,99</td>
            </tr>

            <tr class="produto-6">
                <td>ADIDAS YEEZY BOOST 350 V2 CLOUD <br>WHITE (NON-REFLECTIVE) - 45BR
                </td>
                <td class="price">R$ 1.999,99</td>
            </tr>

            <tr class="produto-7">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>BLACK (NON-REFLECTIVE) - 39.5BR</td>
                <td class="price">R$ 1.499,99</td>
            </tr>

            <tr class="produto-8">
                <td>ADIDAS YEEZY BOOST 350 V2 <br>CLOUD WHITE - 42BR</td>
                <td class="price">R$ 1.499,99</td>
            </tr>

            <tr class="produto-9">
                <td>ADIDAS YEEZY BOOST 350 ,<br>V2 GLOW - 42BR </td>
                <td class="price">R$ 3.199,99</td>
            </tr>

            <tr class="produto-10">
                <td>ADIDAS YEEZY BOOST 350 <br>V2 "MONO ICE" - 44BR</td>
                <td class="price">R$ 1.649,99</td>
            </tr>
        </table>
    </div>

</body>

</html>
