<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="breadcrumb">
        <ul>
            <li><a routerLink="">
                    <mat-icon id="home-icon">home</mat-icon>
                    <mat-icon id="navigate-icon">navigate_next</mat-icon>
                </a></li>
            <li> <a routerLink="">
                    <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                    </h2>
                </a></li>
            <li>
                <h2 id="converse-title">{{title}}</h2>
            </li>
        </ul>
    </div>

    
    <div class="title">
        <h2>TENIS CONVERSE</h2>
    </div>
    
    
    <div class="bg-converse">
        <img src="https://cdn.sanity.io/images/c1chvb1i/production/2cd32ce784dacbb3eaf27d70cb4607fa8f12b90c-1100x735.jpg/OFF-WHITE-x-CONVERSE-CHUCK-70-ON-FOOT-1.jpg" alt="">
    </div>
    

    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243168-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Hi-Verde-5.jpg?v=637586652265800000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/242946-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Cx-Hi-Multicolor-5.jpg?v=637581655146970000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243069-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Lift-Ox-Multicolor-5.jpg?v=637583460829200000"
                        alt=""></td>
            </tr>

            <tr class="linha2">
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243081-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Ox-Salmao-5.jpg?v=637583477026230000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243093-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Hi-Azul-5.jpg?v=637584055975570000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243193-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Lift-Ox-Rosa-5.jpg?v=637586895792830000"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243174-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Ox-Verde-5.jpg?v=637586864250500000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/242940-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Cx-Hi-Multicolor-5.jpg?v=637581650657330000"
                        alt=""></td>
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243221-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Ox-Multicolor-5.jpg?v=637587517245570000"
                        alt=""></td>
            </tr>

            <tr class="linha4">
                <td><img src="https://authenticfeet.vteximg.com.br/arquivos/ids/243247-1000-1000/Tenis-Converse-Chuck-Taylor-All-Star-Hi-Multicolor-5.jpg?v=637587584520330000"
                        alt=""></td>
            </tr>
        </table>

        <table>
            <tr class="produto-1">
                <td>CONVERSE CHUCK TAYLOR<br> ALL STAR HI - 35BR</td>
                <td class="price">R$ 209,99</td>
            </tr>

            <tr class="produto-2">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR CX HI - 36BR</td>
                <td class="price">R$ 429,99</td>
            </tr>

            <tr class="produto-3">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR LIFT OX - 39BR</td>
                <td class="price">R$ 289,99</td>
            </tr>

            <tr class="produto-4">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR OX - 42BR</td>
                <td class="price">R$ 189,99</td>
            </tr>

            <tr class="produto-5">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR HI - 40</td>
                <td class="price">R$ 309,99</td>
            </tr>

            <tr class="produto-6">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR LIFT OX - 36</td>
                <td class="price">R$ 249,99</td>
            </tr>

            <tr class="produto-7">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR OX - 42BR</td>
                <td class="price">R$ 189,99</td>
            </tr>

            <tr class="produto-8">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR CX HI - 43BR"</td>
                <td class="price">R$ 459,99</td>
            </tr>

            <tr class="produto-9">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR OX - 35BR</td>
                <td class="price">R$ 229,99</td>
            </tr>

            <tr class="produto-10">
                <td>CONVERSE CHUCK TAYLOR <br>ALL STAR HI</td>
                <td class="price">R$ 279,99</td>
            </tr>
        </table>
    </div>
</body>

</html>