*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    text-transform: uppercase;
}

tr td{
    color: rgb(48, 48, 48);
    font-size: 11pt;
    font-weight: bold;
}

.title h2{
    position: absolute;
    margin-left: 43%;
    margin-top:135px;
    color: black;
    font-weight: bold;
    font-size:22pt;
}

.breadcrumb #vans-title{
    position: absolute;
    left: 140px;
    top: 0px;
}

#navigate-icon{
    color: #848484;
    font-weight: 400;
    position: absolute;
    top: 7px;
    left: 130px;
}

#navigate-icon2{
    color: #848484;
    font-weight: 400;
    position: absolute;
    top: 7px;
    left: 49px;
}

#home-icon{
    color: #848484;
    position: absolute;
    left:17px ;
    top: 7px;
}

#home-icon:hover{
    color: #3a3a3a;
}

.breadcrumb{
    position: absolute;
    top: 90px;
    left: auto ;
    border: 1px solid #b6b6b6;
    width: 600px;
    height: 38px;
    border-radius: 5px;
}

.breadcrumb ul li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 0;
}

.breadcrumb h2{
    font-size: 14px;
    text-transform:none;
    text-decoration: none;
    color:#3a3a3a;
    margin-left: 20px;
    margin-top: 4px;
}

.breadcrumb a{
    text-decoration: none;
}

.breadcrumb a h2:hover{
    text-decoration: underline;
    color: #000000;
}


.bg-vans img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 480px;
    top:155px;
    margin-left: 0;
}

.linha1 img{
    width:220px;
    margin-left:165px;
    margin-top: 230px;
}

.linha2 img{
    width:220px;
    margin-left:150px;
    margin-top: 200px;
}

.linha3 img{
    width:220px;
    margin-left:150px;
    margin-top: 200px;
}

.linha4 img{
    width:220px;
    margin-left:150px;
    margin-top: 140px;
}

.vans-woven{
    position: absolute;
    top:1010px;
    left: 155px;
}

.vans-woven .price{
    position: absolute;
    top:50px;
    left:80px;
}

.vans-slip{
    position: absolute;
    top:1013px;
    left:550px;
}

.vans-slip .price{
    position: absolute;
    top:50px;
    left:80px;
}

.vans-dx{
    position: absolute;
    top:1010px;
    left:955px;
}

.vans-dx .price{
    position: absolute;
    top:50px;
    left:80px;
}

.vans-dx-98 {
    position: absolute;
    top:1440px;
    left:930px;
}

.vans-dx-98 .price{
    position: absolute;
    top:50px;
    left:90px;
}

.vans-sk8{
    position: absolute;
    top:1440px;
    left:530px;
}

.vans-sk8 .price{
    position: absolute;
    top:30px;
    left:80px;
}

.old-skool{
    position: absolute;
    top:1440px;
    left:200px;
}

.old-skool .price{
    position: absolute;
    top:30px;
    left:30px;
}

.slip-on{
    position: absolute;
    top:1860px;
    left:190px;
}

.slip-on .price{
    position: absolute;
    top:30px;
    left:40px;
}

.old-infantil{
    position: absolute;
    top:1860px;
    left:530px;
}

.old-infantil .price{
    position: absolute;
    top:30px;
    left:90px;
}

.slip-branco{
    position: absolute;
    top:1860px;
    left:940px;
}

.slip-branco .price{
    position: absolute;
    top:30px;
    left:90px;
}

.era-plataforma{
    position: absolute;
    top:2180px;
    left:180px;
}

.era-plataforma .price{
    position: absolute;
    top:30px;
    left:50px;
}