<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <div class="toolbar">
    <mat-toolbar id="toolbar-color" color="">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon id="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
        </button>

        <a routerLink="">
          <h1 id="hype-title">HYPE SNKRS</h1>
        </a>

        <h4 class="fazer-login">
          Fazer Login ou Criar Conta
        </h4>

        <div>
          <h4 class="carrinho">Carrinho</h4>
          <mat-icon id="car-icon">add_shopping_cart</mat-icon>
        </div>

        <div class="campo-pesquisa">
          <mat-icon id="search">search</mat-icon>
          <input type="text" id="txtBusca" placeholder="Pesquisar" />
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container [hasBackdrop]="false" class="app-container">
    <mat-sidenav class="sidenav" #sidenav>
      <mat-nav-list class="color-item">
        <a mat-list-item id="marcas-title">Brands</a>
        <a mat-list-item routerLink="brands//tenis-nike">Nike</a>
        <a mat-list-item routerLink="brands//tenis-adidas">Adidas </a>
        <a mat-list-item routerLink="brands//tenis-puma">Puma </a>
        <a mat-list-item routerLink="brands/tenis-vans">Vans </a>
        <a mat-list-item routerLink="brands//tenis-fila">Fila </a>
        <a mat-list-item routerLink="brands//tenis-converse">Converse </a>
        <a mat-list-item routerLink="brands//tenis-new-balance">New Balance </a>
        <a mat-list-item routerLink="brands//nike-dunk-low">Dunk-Low </a>
        <a mat-list-item routerLink="brands//nike-jordan">Jordan </a>
        <a mat-list-item routerLink="brands//adidas-yeezy">Yeezy </a>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <div style="height: 88vh;"></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <footer>
    <h2>HYPE SNKRS</h2>
    <img src="https://cdn-icons.flaticon.com/png/512/4138/premium/4138124.png?token=exp=1634568568~hmac=348137dca132da38cebd9f55328c0f3d" alt="">
    <img src="https://cdn-icons.flaticon.com/png/128/4138/premium/4138125.png?token=exp=1634568599~hmac=0e0f53df4a6a1da2878322a006ec682a" alt="">
    <img src="https://cdn-icons.flaticon.com/png/128/4138/premium/4138130.png?token=exp=1634568599~hmac=a6503fc1b5ac73c4d1c503204ba546a4" alt="">
    <img src="https://cdn-icons.flaticon.com/png/128/4138/premium/4138126.png?token=exp=1634568599~hmac=8e2f4a400090e1bf449272350de6a8d0" alt="">
    <p class="copyright">&copy; Copyright Hype Sneakers-2021</p>
  </footer>

</body>

</html>