<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="breadcrumb">
        <ul>
            <li><a routerLink="">
                    <mat-icon id="home-icon">home</mat-icon>
                    <mat-icon id="navigate-icon">navigate_next</mat-icon>
                </a></li>
            <li> <a routerLink="">
                    <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                    </h2>
                </a></li>
            <li>
                <h2 id="newBalance-title">{{title}}</h2>
            </li>
        </ul>
    </div>

    <div class="title">
        <h2>TENIS NEW BALANCE</h2>
    </div>

    
    <div class="bg-new-balance">
        <img src="https://data.nssmag.com/images/galleries/24554/jaden-smith-new-balance-1.jpg" alt="">
    </div>
    

    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229701-800-auto?v=637655056310170000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229705-800-auto?v=637655059687170000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229815-800-auto?v=637665546324430000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>

            <tr class="linha2">
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229819-800-auto?v=637665549501470000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229766-800-auto?v=637659322965230000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229668-800-auto?v=637654079601200000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/229356-800-auto?v=637647303457930000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/228782-800-auto?v=637622961632400000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/230173-800-auto?v=637683609774530000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>

            <tr class="linha4">
                <td><img src="https://newbalance.vtexassets.com/arquivos/ids/217341-800-auto?v=637211862791770000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>
        </table>

        <table>
            <tr class="produto-1">
                <td>New Balance Jaden Smith V. <br>Racer Casual Masculino - 39BR</td>
                <td class="price">R$ 2.599,99</td>
            </tr>

            <tr class="produto-2">
                <td>New Balance Jaden Smith V. <br>Racer Casual Masculino - 41BR</td>
                <td class="price">R$ 2.599,99</td>
            </tr>

            <tr class="produto-3">
                <td>New Balance X-Racer Utillity <br>Casual Masculino - 43BR</td>
                <td class="price">R$ 659,99</td>
            </tr>

            <tr class="produto-4">
                <td>New Balance X-Racer Utillity <br>Casual Masculino - 42BR</td>
                <td class="price">R$ 659,99</td>
            </tr>

            <tr class="produto-5">
                <td>New Balance 990 V3 Bodega <br>Casual Masculino - 40BR</td>
                <td class="price">R$ 1.599,99</td>
            </tr>

            <tr class="produto-6">
                <td>New Balance BB550 Casual <br>Masculino - 38BR</td>
                <td class="price">R$ 799,99</td>
            </tr>

            <tr class="produto-7">
                <td>New Balance XC72 Casual <br>Masculino - 44BR</td>
                <td class="price">R$ 849,99</td>
            </tr>

            <tr class="produto-8">
                <td>New Balance 327 Casual ><br>Masculino - 43BR"</td>
                <td class="price">R$ 599,99</td>
            </tr>

            <tr class="produto-9">
                <td>New Balance 5740 Casual <br>Masculino - 43BR</td>
                <td class="price">R$ 699,99</td>
            </tr>

            <tr class="produto-10">
                <td>New Balance 801 Casual <br>Masculino - 40</td>
                <td class="price">R$ 449,99</td>
            </tr>
        </table>
    </div>
</body>

</html>