<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="breadcrumb">
        <ul>
            <li><a routerLink="">
                    <mat-icon id="home-icon">home</mat-icon>
                    <mat-icon id="navigate-icon">navigate_next</mat-icon>
                </a></li>
            <li> <a routerLink="">
                    <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                    </h2>
                </a></li>
            <li>
                <h2 id="adidas-title">{{title}}</h2>
            </li>
        </ul>
    </div>

    <div class="title">
        <h2>TENIS ADIDAS</h2>
    </div>

    
    <div class="bg-adidas">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/342d4c106842259.5fad0b22f11da.jpg" alt="">
    </div>
    


    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/padrao_540x.png?v=1625165396"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/as197_540x.jpg?v=1601155815"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/as221_540x.jpg?v=1601573883"
                        alt=""></td>
            </tr>

            <tr class="linha2">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/gfdgdfgddd_540x.jpg?v=1609363679"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/01_540x.jpg?v=1593440477"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/66_a41a3a7d-05a1-4afb-ac85-332307c0505f_540x.jpg?v=1600349682"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/vxcbx_300x.jpg?v=1608821120"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/bvcv_300x.jpg?v=1608821941"
                        alt=""></td>
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/wpeofijwoefjowjefj_540x.jpg?v=1594661441"
                        alt=""></td>
            </tr>

            <tr class="linha4">
                <td><img src="https://cdn.shopify.com/s/files/1/0398/6679/4151/products/wuiefuiwehfiwehifuuh_540x.jpg?v=1594496763"
                        alt=""></td>
            </tr>
        </table>

        <table>
            <tr class="adidas-zx">
                <td>Adidas ZX 8000 Superearth - 42BR</td>
                <td class="price">R$ 1.199,99</td>
            </tr>

            <tr class="adidas-4D">
                <td>Adidas ZX 4000 4D Easy Mint - 41BR</td>
                <td class="price">R$ 1.369,99</td>
            </tr>

            <tr class="adidas-nmd">
                <td>Adidas NMD R1 Vintage White - 39BR</td>
                <td class="price">R$ 1.499,99</td>
            </tr>

            <tr class="aidas-ozweego">
                <td>Adidas Ozweego W Signal Solar - 37BR</td>
                <td class="price">R$ 399,99</td>
            </tr>

            <tr class="adidas-hu">
                <td>Adidas NMD HU Pharell Human - 40BR</td>
                <td class="price">R$ 2.499,99</td>
            </tr>

            <tr class="adidas-futurecraft">
                <td>Adidas Futurecraft 4D Daniel Arsham</td>
                <td class="price">R$ 2.399,99</td>
            </tr>

            <tr class="adidas-marathon">
                <td>Adidas Marathon Tech - 38BR</td>
                <td class="price">R$ 249,99</td>
            </tr>

            <tr class="adidas-lxcon">
                <td>Adidas LXCON Black Green - 44BR"</td>
                <td class="price">R$ 399,99</td>
            </tr>

            <tr class="adidas-qasa">
                <td>Adidas Qasa High - 44BR</td>
                <td class="price">R$ 549,99</td>
            </tr>

            <tr class="stan-smith">
                <td>Adidas Stan Smith x BBC</td>
                <td class="price">R$ 449,99</td>
            </tr>
        </table>
    </div>
</body>
</html>
