<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="breadcrumb">
        <ul>
            <li><a routerLink="">
                    <mat-icon id="home-icon">home</mat-icon>
                    <mat-icon id="navigate-icon">navigate_next</mat-icon>
                </a></li>
            <li> <a routerLink="">
                    <h2>Brands <mat-icon id="navigate-icon2">navigate_next</mat-icon>
                    </h2>
                </a></li>
            <li>
                <h2 id="fila-title">{{title}}</h2>
            </li>
        </ul>
    </div>

    <div class="title">
        <h2>TENIS FILA</h2>
    </div>

    
    <div class="bg-fila">
        <img src="https://images.unsplash.com/photo-1547592866-9dbb937713ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
    

    <div>
        <table>
            <tr class="linha1">
                <td><img src="https://fila.vtexassets.com/arquivos/ids/833738-800-auto?v=637363802467900000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/835572-800-auto?v=637441456386070000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/842866-800-auto?v=637623781715930000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>
            
            <tr class="linha2">
                <td><img src="https://fila.vtexassets.com/arquivos/ids/840849-800-auto?v=637533240316030000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/841730-800-auto?v=637545149517270000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/847281-800-auto?v=637689434813870000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>

            <tr class="linha3">
                <td><img src="https://fila.vtexassets.com/arquivos/ids/845717-800-auto?v=637655787622200000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/839740-800-auto?v=637486651721230000&width=800&height=auto&aspect=true"
                        alt=""></td>
                <td><img src="https://fila.vtexassets.com/arquivos/ids/837920-800-auto?v=637478737242570000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>

            <tr class="linha4">
                <td><img src="https://fila.vtexassets.com/arquivos/ids/839897-800-auto?v=637489920132170000&width=800&height=auto&aspect=true"
                        alt=""></td>
            </tr>
        </table>

        <table>
            <tr class="fila-oakmont">
                <td>Fila Oakmont Feminino - 35BR</td>
                <td class="price">R$ 649,99</td>
            </tr>

            <tr class="fila-float">
                <td>Fila Float Fly Feminino - 36BR</td>
                <td class="price">R$ 399,99</td>
            </tr>

            <tr class="fila-mb">
                <td>Fila Mb 90s Masculino - 39BR</td>
                <td class="price">R$ 799,99</td>
            </tr>

            <tr class="fila-teratach">
                <td>Fila Teratach 600 Hi Masculino - 42BR</td>
                <td class="price">R$ 499,99</td>
            </tr>

            <tr class="teratach-600">
                <td>Fila Teratach 600 Masculino - 40</td>
                <td class="price">R$ 499,99</td>
            </tr>

            <tr class="fila-disruptor">
                <td>Fila Disruptor Vlc Infantil - 29</td>
                <td class="price">R$ 279,99</td>
            </tr>

            <tr class="fila-recovery">
                <td>Fila Recovery Infantil - 42BR</td>
                <td class="price">R$ 229,99</td>
            </tr>

            <tr class="fila-iconic">
                <td>Fila Iconic Masculino - 43BR"</td>
                <td class="price">R$ 459,99</td>
            </tr>

            <tr class="fila-fit">
                <td>Fila Fit Trainer Feminino - 35BR</td>
                <td class="price">R$ 229,99</td>
            </tr>

            <tr class="fila-rippier">
                <td>Fila Rippler Feminino</td>
                <td class="price">R$ 379,99</td>
            </tr>
        </table>
    </div>
</body>
</html>